NEXT_PUBLIC_YANDEX_STORAGE_BUCKET=hastes
NEXT_PUBLIC_YANDEX_STORAGE_ENDPOINT=https://storage.yandexcloud.net
NEXT_PUBLIC_YANDEX_STORAGE_UPLOAD_PREFIX=requests
NEXT_PUBLIC_YANDEX_STORAGE_PUBLIC_BASE_URL=
